html,
body {
    font-family: titling-gothic-fb-extended, sans-serif;
    margin: 0;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 35px auto 35px;
    grid-template-rows: 35px auto 35px;
    -webkit-transform: translateZ (0);
}


/* -------------MENU---------------------------------------------------------------------------*/

.menu_wrapper_top {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/2;
}



.menu_wrapper_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3/2;
    margin-bottom: 0.1rem;
}

.menu_bottom {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 3/2;
    color: #0047bb;
    font-size: 0.8em;
}

.menu_top {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 1/2;
    color: red;
    font-size: 1em;
    margin-top: .2em;
}

.menu_wrapper_right {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/3;
}

.menu_right {
    height: 400px;
    width: 30px;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
   
    
}
#skills{
    transform: rotate(90deg);
 
    font-size: .7em;
    color: #000000;

}

.menu_wrapper_left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/1;
}

.menu_left {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1em;
    
}
#about{
    transform: rotate(-90deg);
    position: absolute;
    font-size: .7em;
    color: #000000;
}

/* -------------IKONS &LINKS---------------------------------------------------------------------------*/

#topMenuIcons {
    font-family: titling-gothic-fb-extended, sans-serif;

font-weight: 400;

font-style: normal;
    font-size: .7rem;
    padding: 1px 5px 1px 5px;
    color: black;

}
#topMenuIcons :hover {
    background-color: #fe5000;
    padding: 1px 3px 1px 3px;
    
    border-radius: 0px;
    color: white;
}
#smiley{
    color:#0047bb;
}

#social {
    font-size: 1.3rem;
    color: #fe5000;
}

#social :hover {
    color: #0047bb;
    ;

}

#name {
    background-color: #FCE300;
    padding: 1.5px 16px 1.5px 16px;
    color: white;
}

#address {
    color: #fe5000;
    margin-left: 50px;
}



#hej {
    font-size: 2.75rem;
    color: #0047bb;
}

#hej:hover {

    color: red;
}
.mobile_map{
    display: none;
}

#burger {
    display: none;
    color: #fe5000;
}

/* -------------MAIN---------------------------------------------------------------------------*/

#swup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    grid-area: 2/2;
    opacity: 1;
    flex-direction: row;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}
.hero_text{
    text-align: center;
    justify-content: center;
    font-family: titling-gothic-fb-extended, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 8vw;
    padding: 1px 5px 1px 5px;
    color: #0047bb;

}
/* -------------OMOSS---------------------------------------------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

p {
    width: 80vw;
    font-size: 3vw;
    color: #0047bb;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

/* -------------HEMMA---------------------------------------------------------------------------*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}



/* -------------KONTAKT---------------------------------------------------------------------------*/
.skills-container{
    display: flex;
    flex-direction: column;
}
.graph-cont{
    
    width: 100%;
    
    
    
    max-width: 200px;
    margin: 0 auto;
  }
  h1,h2,h3{
    text-align: center;
    color: #34495e;
  }
  .bar{
    
    height: 30px;
    max-width: 50vw;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    padding: 0 0 0 10px;
    position: relative;
  }
  .bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    top: 0;
    z-index: 1;
    background: #ecf0f1;
  }
  .bar::after{
    content: '';
    background: #2ecc71;
    height: 20px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .bar1::after{
    max-width: 80%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar3::after{
    max-width: 70%;
  }
  .bar4::after{
    max-width: 70%;
  }
  .bar5::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  
  @-webkit-keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }

  
  
  
/* -------------KONTAKT---------------------------------------------------------------------------*/

.main_kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 70vw;
    font-size: 1.5rem;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.wrapper_kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_kontakt {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 1.1rem;
    color: white;

}

.jobb {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 1rem;


}

.mail_kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-decoration: none!important;


}

.tel_kontakt {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 0.8rem;

}


/* -------------FADE-IN---------------------------------------------------------------------------*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}
