html,
body {
    font-family: titling-gothic-fb-extended, sans-serif;
    margin: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 35px auto 35px;
    grid-template-rows: 35px auto 35px;
    -webkit-transform: translateZ (0);
}


/* -------------MENU---------------------------------------------------------------------------*/

.menu_wrapper_top {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/2;
}

.menu_top {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  
    color: red;
    font-size: 1em;
    
}

.menu_wrapper_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3/2;
    width: 100%;
    margin-bottom: 0.1rem;
}

.menu_bottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #0047bb;
    font-size: 0.8em;
}

.menu_wrapper_right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-area: 2/3;
}

.menu_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 0.8em;
}

#skills{
    display: flex;

    transform: rotate(90deg);
    
}

.menu_wrapper_left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/1;
}

.menu_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1em; 
}

#about{
    transform: rotate(-90deg);
    position: absolute;
    font-size: .7em;
    color: #000000;
}

/* -------------IKONS &LINKS---------------------------------------------------------------------------*/




/* -------------MAIN---------------------------------------------------------------------------*/

#swup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: 100%;
    grid-area: 2/2;
    opacity: 1;
    flex-direction: row;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.hero_text{

    display: flex;
    text-align: center;
    justify-content: center;
    font-family: titling-gothic-fb-extended, sans-serif;
    width: 70vw;
    font-weight: 600;
    font-style: normal;
    font-size: 7vw;
    /* padding: 1px 5px 1px 5px; */
    color: #0047bb;
}

/* -------------OMOSS---------------------------------------------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

p {
    width: 80vw;
    font-size: 3vw;
    color: #0047bb;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

/* -------------HEMMA---------------------------------------------------------------------------*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

/* -------------SKILLS---------------------------------------------------------------------------*/

#o {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 2/2;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.flexbox{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph-cont{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }
  h3{
    text-align: center;
    color: #0047bb;
    font-weight: 100;
  }
  .bar{
    display: flex;
    height: 30px;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    padding: 0 0 0 10px;
    position: relative;
  }
  .bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 20px;
    top: 0;
    z-index: 1;
    background: #ecf0f1;
  }
  .bar::after{
    content: '';
    background: red;
    height: 20px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .bar1::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar3::after{
    max-width: 70%;
  }
  .bar4::after{
    max-width: 70%;
  }
  .bar5::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  .bar2::after{
    max-width: 70%;
  }
  
  @-webkit-keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }

  
  
  
/* -------------KONTAKT---------------------------------------------------------------------------*/

.main_kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 70vw;
    font-size: 1.5rem;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.wrapper_kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name_kontakt {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 1.1rem;
    color: white;

}

.jobb {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 1rem;


}

.mail_kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-decoration: none!important;


}

.tel_kontakt {
    display: flex;
    justify-content: center;
        align-items: center;
    font-size: 0.8rem;

}


/* -------------FADE-IN---------------------------------------------------------------------------*/

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

/* -------------FADE-IN---------------------------------------------------------------------------*/
@keyframes color {
    0% {
      background-color: ;
    }
    50% {
      background-color: ;
    }
    100 {
      background-color: #;
    }
  }


/* On screens that are 600px or less, set o>column*/
@media screen and (max-width: 600px) {
    #o {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    p {
        width: 70vw;
        font-size: 4vw;
        color: #0047bb;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        /* Firefox */
        -webkit-animation: fadein 2s;
        /* Safari and Chrome */
        -o-animation: fadein 2s;
        /* Opera */
    }
    h3{
        font-size: 3vw;
        text-align: center;
        color: #0047bb;
      }


.flexbox{
    display: flex;
    width: 100%;
}
.graph-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  h3{
    text-align: center;
    color: #0047bb;
  }
  .bar{
    display: flex;
    height: 10px;
    width: 150px;
    line-height: 30px;
    font-size: 16px;
    color: whitesmoke;
    padding: 0 0 0 10px;
    position: relative;
  }
  .bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 10px;
    top: 0;
    z-index: 1;
    background: #ecf0f1;
  }
  .bar::after{
    content: '';
    background: red;
    height: 10px;
    transition: 0.7s;
    display: block;
    width: 100%;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
   
  }